@(userForm: Form[(String, String, String, Boolean)], editedUser: model.User, user: Option[model.User], language: play.api.i18n.Lang, isAdmin: Boolean)(implicit flash: Flash)

@import helper.twitterBootstrap._

@main(Messages("app.userDetails")(language), Messages("app.name"))(user, language) {

  <h2>@Messages("app.userDetails")(language)</h2>
  @helper.form(action = routes.User.update(editedUser._id.toString())) {
    @helper.inputText(userForm("login"))
    
    <div class="adminArea">
      @helper.select(field = userForm("role"),
        options = model.User.roles.keySet.map{s => (s, s)}(collection.breakOut): Seq[(String, String)],
        '_label -> Messages("auth.role")(language)
        )
    </div>
    @helper.inputText(userForm("lang"), '_label -> Messages("auth.lang")(language))
    <div class="adminArea">
      @helper.checkbox(userForm("disabled"), '_help -> "", '_label -> Messages("auth.disabled")(language))
    </div>

    <input id ="Submit" type="submit" value='@Messages("app.submit")(language)' />
  }
  <script type="text/javascript">
  @if(!isAdmin) {
    $(".adminArea").attr("style", "display: none;")
  }
  </script>
}