@(userForm: Form[(String, String, String, Boolean)], editedUser: model.User, user: Option[model.User], language: play.api.i18n.Lang, isAdmin: Boolean)

@import helper.twitterBootstrap._

@main(Messages("app.userDetails")(language), Messages("app.name"))(user, language) {

  <h2>@Messages("app.userDetails")(language)</h2>
  @helper.form(action = routes.User.update(editedUser._id.toString())) {
    <div id="userEdit">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="adminArea">
                @helper.input(userForm("login")){ (id, name, value, args) => 
                  <input type="text" id="login" name="login" value="@editedUser.login" >
                }
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="adminArea">
                @helper.input(userForm("role")){ (id, name, value, args) => 
                  <select name="@name" id="@id">
                  @model.User.roles.keySet.map { role => 
                    @if(role == editedUser.role) {
                      <option selected value=@role>@role</option>
                    } else {
                      <option value=@role>@role</option>
                    }
                  }
                }
              </div>
            </td>
          </tr>
          <tr>
            <td>@helper.input(userForm("lang")){ (id, name, value, args) => 
              <input type="text" id="lang" name="lang" value="@editedUser.lang" >
            }</td>
          </tr>
          <tr>
            <td>
              <div class="adminArea">
                @helper.input(userForm("disabled")){ (id, name, value, args) => 
                  <input type="checkbox" id="disabled" name="disabled" value="true"
                      @if(editedUser.disabled) {
                        checked
                      }
                  >
                }
              </div>
            </td>
          </tr>
        </tbody>  
      </table>
      <input id ="Submit" type="submit" value="Submit" />
    </div>
  }
  <script type="text/javascript">
  @if(!isAdmin) {
    $(".adminArea").attr("style", "display: none;")
  }
  </script>
}