@(form: Form[(String, String)], language: play.api.i18n.Lang)

@import helper.twitterBootstrap._

@main(Messages("auth.login")(language), Messages("app.name"))(None, language) {

	@helper.form(action = routes.Auth.authenticate) {
		@form.errors.map { error =>
		    <p class="error">
		    Error!  @error.key (@error.message)
		    </p>
		}
	    @helper.inputText(form("login"))
	    @helper.inputPassword(form("password"))
	    <br />
	    <input id ="Login" type="submit" value=@Messages("auth.login")(language) />
	    
	}
	
}
