@(title: String, projectName: String)(username: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
	  <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		  <div class="container">
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="brand" href="#">@projectName</a>
		<div class="nav-collapse collapse navbar-responsive-collapse">
		  <ul class="nav">
		    <li class="active"><a href="@routes.Application.index">Home</a></li>
		    <li><a href="#about">About</a></li>
		    <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
            <ul class="dropdown-menu">
              @if(username == "") {
	            <li><a href="@routes.User.create">Register</a></li>
	            <li><a href="@routes.Auth.login">Log in</a></li>
              } else {
            	<li><a href="@routes.Auth.logout">Log out</a></li>
              }
            </ul>
          </li>
			  </li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>
		  </div>
		  <div class="container">
		    @content
		  </div>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    </body>
</html>
