@(servers: Seq[model.Server], user: Option[model.User], language: play.api.i18n.Lang, title: String)(implicit flash: Flash)

@main(title, Messages("app.name"))(user, language) {

  <h2>@title</h2>
  <table class="table-striped table-bordered" id="usersTable">
  <thead>
    <tr>
      <th>@Messages("serv.formName")(language)</th>
      <th>@Messages("serv.formIp")(language)</th>
      <th>@Messages("app.actions")(language)</th>
    </tr>
  </thead>  
  <tbody>
    @servers.map { s =>
      <tr>
        <td><a href="#">@s.name</a></td>
        <td>@s.ip</td>
        <td><a href="@routes.Server.edit(s._id.toString())">@Messages("app.edit")(language)</a> <a href="@routes.Server.delete(s._id.toString())">@Messages("app.delete")(language)</a>
        <a href="@routes.Server.view(s._id.toString())">@Messages("app.view")(language)</a></td>
      </tr>
    }
  </tbody>        
</table>

}