@(form: Form[(String, String, String, String, String, String)], language: play.api.i18n.Lang, submitAction: play.api.mvc.Call)

@import helper.twitterBootstrap._

@helper.form(action = submitAction) {
    
    @helper.inputText(form("ip"), '_label -> "IP")
    @helper.inputText(form("name"), '_label -> Messages("serv.formName")(language))
    @helper.inputText(form("location"), '_label -> Messages("serv.formLoc")(language))
    @helper.inputText(form("details"), '_label -> Messages("serv.formDet")(language))
    @helper.select(field = form("method"), options = model.Server.checkMethods.map{
        case (key, value) => (key, Messages(value)(language))
      }(collection.breakOut): Seq[(String, String)], '_label -> Messages("serv.formMeth")(language))
    @helper.inputText(form("period"), '_label -> Messages("serv.formPeriod")(language))
    <br />
    <input id ="Submit" type="submit" value='@Messages("app.submit")(language)' />
    
}