@(form: Form[(String, String, String, String, String, Int)], language: play.api.i18n.Lang)

@import helper.twitterBootstrap._

@helper.form(action = routes.Server.submit) {
    
    @helper.inputText(form("ip"))
    @helper.inputText(form("name"))
    @helper.inputText(form("location"))
    @helper.inputText(form("details"))
    @helper.select(field = form("method"), options = model.Server.checkMethods.map{
        case (key, value) => (key, Messages(value)(language))
      }(collection.breakOut): Seq[(String, String)])
    @helper.inputText(form("period"))
    <br />
    <input id ="Submit" type="submit" value="Submit" />
    
}